.DS_Store
node_modules
.idea/
cga_docs.iml
site/public

# theme outputs
site/themes/designsystem.gov.au/static
site/themes/designsystem.gov.au/src/js/_pancake.min.js
site/themes/designsystem.gov.au/src/sass/_pancake.scss
