@import '_variables';
@import '_pancake';
@import '_sidebar';
@import '_tier';

main {
  @include AU-space( padding-bottom, 6unit );
}

// Override grid settings
.au-grid .container-fluid {
	@include AU-space( max-width, 83unit );

	@include AU-media( xs ){
		@include AU-space( padding-left, 2unit );
		@include AU-space( padding-right, 2unit );
	}
}

.visuallyhidden {
  @include AU-sronly();
}

.abstract {
		position: relative;
		// @include AU-fontgrid( xxxl, nospace );
		// margin-top: 0;
	// }

	// .componentheader__body {
		color: $AU-color-foreground-muted;
		@include AU-space( margin-top, 2unit );
		@include AU-space( margin-bottom, 2unit );
		@include AU-fontgrid( lg );
		@include AU-space( padding-bottom, 2unit );
		border-bottom: 1px solid $AU-colordark-foreground-border;
	// }
}

// User agent stylesheet override
body {
  margin: 0
}
